* {
  margin: 0;
}

body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  color: black;
  max-height: 1000px;
}

main {
  margin: 0 150px;
}

a {
  text-decoration: none;
}

.titulo__pagina {
  text-align: center;
  margin-top: 50px;
}

.cabecalho {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.navegacao {
  padding: 15px 30px;
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  color: #000;
  border: 3px solid #f7f7f7; /*problema visual do hover, solução: criar borda invisível*/
}

.navegacao:hover {
  border: 3px solid #ee2211;
}

.conteudo1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
}

.conteudo1__texto {
  background-color: #fff;
  text-align: end;
  padding: 55px 40px;
  display: grid;
  gap: 30px;
  position: relative;
}

.conteudo1__paragrafo {
  line-height: 25px;
}

.conteudo1__botao {
  color: #fff;
  padding: 15px 30px;
  background-color: #ee2211;
  border-radius: 4px;
  justify-self: end;
  align-self: center;
}

.conteudo1__botao:hover {
  background-color: #900;
  transition: 0.3s;
}

.conteudo1__imagem {
  max-width: 100%;
}

.conteudo1__titulo::before {
  content: "";
  display: block;
  width: 60px;
  border: 2px solid #ee2211;
  position: relative;
  left: 102%;
  top: -30px;
  border-radius: 1px;
}

.conteudo2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.conteudo2__subtitulo {
  align-self: center;
  background-image: url("images/onda.svg");
}

.subtitulo {
  background-position: center;
  color: #c6c6c6;
  font-size: 4rem;
  text-align: right;
  margin-right: 40px;
  text-transform: uppercase;
}

.conteudo2__vantagens {
  display: grid;
  gap: 20px;
  padding: 80px 60px;
  background-color: #fff;
}

.conteudo2__vantagens .vantagens__grupo:nth-child(odd) {
  background-color: #f7f7f7;
}

.vantagens__grupo {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  padding: 5px 10px;
  border-left: 4px solid #fff;
}

.vantagens__grupo:hover {
  border-left: 4px solid #ee2211;
}

.grupo__texto {
  display: grid;
  gap: 15px;
}

.rodape {
  margin-top: 80px;
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
}
