* {
  margin: 0;
}

body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  color: black;
}

a {
  text-decoration: none;
  display: inline-block;
}

.imagem__logo {
  text-align: center;
  margin-top: 50px;
}

.cabecalho {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  padding-inline-start: 0;
}

.navegacao {
  padding: 15px 30px;
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  color: #000;
  border: 3px solid #f7f7f7; /*problema visual do hover, solução: criar borda invisível*/
}

.navegacao:hover {
  border: 3px solid #ee2211;
}

.conteudo {
  display: grid;
  max-width: calc(100vw / 1.4);
  margin: 0 auto;
}

.conteudo1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
}

.conteudo1__texto {
  background-color: #fff;
  text-align: end;
  padding: 55px 40px;
  display: grid;
  gap: 30px;
  position: relative;
}

.conteudo1__paragrafo {
  line-height: 25px;
}

.conteudo1__botao {
  color: #fff;
  padding: 15px 30px;
  background-color: #ee2211;
  border-radius: 4px;
  justify-self: end;
  align-self: center;
}

.conteudo1__botao:hover {
  background-color: #900;
  transition: 0.3s;
}

.conteudo1__imagem {
  max-width: 100%;
  height: 500px;
  /* height: 100%; */
  object-fit: cover; /*tornando a imagem responsiva*/
  object-position: top center;
}

.conteudo1__titulo::before {
  content: "";
  display: block;
  width: 60px;
  border: 2px solid #ee2211;
  position: relative;
  left: 102%;
  top: -25%;
  border-radius: 1px;
}

.conteudo2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.conteudo2__subtitulo {
  align-self: center;
  background-image: url("images/onda.svg");
}

.subtitulo {
  background-position: center;
  color: #c6c6c6;
  font-size: 4rem;
  text-align: right;
  margin-right: 40px;
  text-transform: uppercase;
}

.conteudo2__vantagens {
  display: grid;
  gap: 20px;
  padding: 80px 60px;
  background-color: #fff;
}

.conteudo2__vantagens .vantagens__grupo:nth-child(odd) {
  background-color: #f7f7f7;
}

.vantagens__grupo {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  padding: 5px 10px;
  border-left: 4px solid #fff;
}

.vantagens__grupo:hover {
  border-left: 4px solid #ee2211;
}

.grupo__texto {
  display: grid;
  gap: 15px;
}

.rodape {
  margin-top: 80px;
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .conteudo1__titulo::before {
    width: 60px;
    top: -35%;
  }

  .subtitulo {
    font-size: 3.2rem;
  }
}

@media (max-width: 1000px) {
  .cabecalho {
    gap: 5px;
  }

  .conteudo2 {
    grid-template-columns: 1fr;
  }

  .subtitulo {
    font-size: 3rem;
    margin: 80px 0 20px 0;
    text-align: center;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 1rem;
  }

  .navegacao {
    padding: 10px 20px;
    border: 2px solid #f7f7f7;
  }

  .navegacao:hover {
    border: 2px solid #ee2211;
  }

  .conteudo1__titulo::before {
    width: 40px;
  }

  .conteudo1__texto {
    padding: 40px 25px;
  }

  .conteudo2__vantagens {
    padding: 40px;
  }
}

@media (max-width: 600px) {
  .cabecalho {
    gap: 1px;
  }

  .navegacao {
    font-size: 0.6rem;
    padding: 5px 10px;
  }

  .conteudo1 {
    margin-top: 40px;
    grid-template-columns: 1fr;
  }

  .conteudo1__imagem {
    grid-row: 1;
    height: 300px;
  }

  .conteudo1__titulo::before {
    display: none; /*remove elemento do layout*/
  }

  .conteudo1__texto {
    text-align: start;
  }

  .conteudo1__botao {
    justify-self: flex-start;
  }

  .conteudo2__vantagens {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 0.75rem;
  }

  .conteudo1__imagem {
    height: 200px;
  }

  .subtitulo {
    font-size: 2.5rem;
  }

  .conteudo2__vantagens {
    padding: 10px;
  }
}
